<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${LOG_LEVEL}">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
